.select-file {
  height: 120px;
  width: 100%;
  border: 3px solid #3880ff;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.select-file ion-spinner {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.select-file ion-img {
  top: 11px;
  left: 0;
  height: 83%;
  filter: blur(2px);
  z-index: 0;
  position: absolute;
}

.hide-input {
  display: none;
}
