.cardSlide{
    background: transparent !important;
    margin-left: 1%;
    margin-right: 1%;
    height: 25rem;
}
.cardSlideImage{
    height: 8rem;
}
.cardSlideText{
    height: 10rem;
}
 .cardSlideBtn{
    margin: auto;
}
.cartImages{
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 2%;
    padding-right: 2%;
}
.cartBtn{
    width: 2.9rem;
    height: 2rem;
}
.cartBtnContainer{
    text-align: right!important;
}

    .md #modal {
        --max-width: 22rem !important;
        --max-height: 26rem !important;
    }
.cartItem{
    background: transparent !important;
}