ion-content {
  --background: url('https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb') no-repeat center center fixed cover;
  --background-size: cover;
  background:#ffffff
}
ion-input{
  color:#000000d4!important;
}
ion-label{
  color:#8c8c8c!important;
  font-weight: bolder;
  line-height: 22px;
}
ion-item {
 --background: transparent;
 --ion-color-base: 'transparent' !important;
}


ion-tabs {
 --background: url('https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb') no-repeat center center fixed cover;
 --background-size: cover;

}
ion-tab-bar {
 --background: url('https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb') no-repeat center center fixed cover;
 --background-size: cover;

}
.bg-image {
  background-color: inherit!important;
  background: url('https://drive.google.com/uc?export=view&id=1wFsLvKXJOBMkpZoMVBcqGyGy5UwmtuDb') no-repeat center center fixed;
  background-size: cover;
}

.card-login{
  background: transparent!important;
 width: 80%;
 margin: auto;
margin-top: 4%;
}
.btn-login{
  margin-top: 1.5%;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  width: 200px;
  height: 50px;
}
#btn-auth{  
  margin-top: 0.5%;  
  margin-right: auto;
  margin-left: 10%;
  display: block !important;
  width: 310px;
  height: 50px;
 }
 .btn-auth{
  --color:#4c8dff;
  --border-width: none;
  --background : transparent!important;
  --box-shadow:none;
  --color-hover:#92949c;
  --background-activated-opacity:transparent!important;
  --background-activated:transparent!important;
  
 }
 #btn-rememberme{
  margin-left: auto;
  display: block !important;
  width: 230px;
  height: 50px;
 }
.img{
  margin: auto;
  width: 80%;
  height:160px;
}
