.title-header {
  text-transform: uppercase;
  text-align: center;
  padding: 12px 0;
}

.price-label {
  position: absolute;
  right: 1em;
  font-weight: 600;
  font-size: 20px;
}

.text-edit {
  text-align: center;
  font-size: 2.5rem;
}

.btn-flat {
  position: relative;
  right: -10px;
}

ion-header {
  text-align: center;
}
