.form-inputs ion-input,
.form-inputs ion-select,
.form-inputs ion-datetime,
ion-textarea {
  border: 2px solid #3880ff;
  border-radius: 5px;
  margin-bottom: 12px;
}

.form-inputs label {
  color: #3880ff;
  font-weight: bold;
  font-size: 12px;
}

.fail {
  border-color: red !important;
}
